exportPattern("^[[:alpha:]]+")
import(data.table)
import(stringi)
import(utils)
import(readxl)
import(microbenchmark)
import(fasteqa)
importFrom("stats", "quantile")
importFrom("data.table", ":=")
importFrom("stats", "na.omit")
