exportPattern("^[[:alpha:]]+")
import(data.table)
import(stringi)
import(utils)
import(readxl)
import(microbenchmark)
import(ggplot2)
import(parallel)
import(pbapply)
import(boot)
import(fasteqa)
import(smooth.commutability)
importFrom("stats", "quantile", "IQR", "qqplot", "dnorm", "rnorm", "qnorm", "shapiro.test", "na.omit", "median", "qtukey", "sd", "var", "nlm")
importFrom("grDevices", "colors", "nclass.FD")
importFrom("data.table", ":=")

